# Build container Dockerfile
build-support/docker/Dockerfile

# Compiled Python files
**/*__pycache__

# Coverage files
**/.coverage
**/htmlcov

# Mypy cache
**/.mypy_cache

# Python virtual environment
**/*venv

# Vim swap files
**/*.swp
**/*.swo

# YouCompleteMe config file
.ycm_extra_conf.py
